{"nrepl"
 {"nrepl"
  {"jar"
   {""
    {"0.5.2"
     {:sha1 "22c241ebca354a54cedc1490be78ab61ffd18be9",
      :dependencies [["nrepl" "bencode" "1.0.0"]]}}}},
  "bencode"
  {"jar"
   {""
    {"1.0.0"
     {:sha1 "f1031454d55f70bfb8567e14d79fa9361501ff00",
      :dependencies [["org.clojure" "clojure" "1.8.0"]]}}}}},
 "commons-lang"
 {"commons-lang"
  {"jar"
   {"" {"2.6" {:sha1 "0ce1edb914c94ebc388f086c6827e8bdeec71ac2"}}}}},
 "com.cemerick"
 {"pomegranate"
  {"jar"
   {""
    {"1.1.0"
     {:sha1 "4117848d047d72f75a9264e1600fdb50ad21f63c",
      :dependencies
      [["org.apache.maven" "maven-resolver-provider" "3.5.3"]
       ["org.apache.maven.resolver"
        "maven-resolver-transport-file"
        "1.0.3"]
       ["org.apache.maven.resolver"
        "maven-resolver-transport-http"
        "1.0.3"]
       ["org.apache.maven.resolver"
        "maven-resolver-transport-wagon"
        "1.0.3"]
       ["org.apache.maven.resolver"
        "maven-resolver-connector-basic"
        "1.0.3"]
       ["org.tcrawley" "dynapath" "1.0.0"]
       ["org.apache.maven.wagon" "wagon-provider-api" "3.0.0"]
       ["org.apache.maven.wagon" "wagon-http" "3.0.0"]
       ["org.apache.httpcomponents" "httpclient" "4.5.3"]
       ["org.clojure" "clojure" "1.3.0"]]}}}}},
 "org.apache.httpcomponents"
 {"httpclient"
  {"jar"
   {""
    {"4.2.6"
     {:sha1 "e4ca30a6a3a075053a61c6fc850d2432dc012ba7",
      :dependencies
      [["org.apache.httpcomponents" "httpcore" "4.2.5"]
       ["commons-logging" "1.1.1"]
       ["commons-codec" "1.6"]]},
     "4.5.3"
     {:sha1 "d1577ae15f01ef5438c5afc62162457c00a34713",
      :dependencies
      [["org.apache.httpcomponents" "httpcore" "4.4.6"]
       ["commons-logging" "1.2"]
       ["commons-codec" "1.9"]]},
     "4.5.2"
     {:sha1 "733db77aa8d9b2d68015189df76ab06304406e50",
      :dependencies
      [["org.apache.httpcomponents" "httpcore" "4.4.4"]
       ["commons-logging" "1.2"]
       ["commons-codec" "1.9"]]}}}},
  "httpcore"
  {"jar"
   {""
    {"4.2.5" {:sha1 "472f0f5f8dba5d1962cb9d7739feed739a31c30d"},
     "4.4.6" {:sha1 "e3fd8ced1f52c7574af952e2e6da0df8df08eb82"},
     "4.4.4" {:sha1 "b31526a230871fbe285fbcbe2813f9c0839ae9b0"}}}}},
 "timofreiberg"
 {"bultitude"
  {"jar"
   {""
    {"0.3.0"
     {:sha1 "394706b208b89e3124950ea184891d10677af886",
      :dependencies
      [["org.clojure" "clojure" "1.9.0"]
       ["org.tcrawley" "dynapath" "1.0.0"]]}}}}},
 "net.cgrand"
 {"sjacket"
  {"jar"
   {""
    {"0.1.1"
     {:sha1 "5bff0a93aad1c0393faa8b31e3dbbe7ce3fab3bf",
      :dependencies
      [["org.clojure" "clojure" "[1.3.0,)"]
       ["net.cgrand" "regex" "1.1.0"]
       ["net.cgrand" "parsley" "0.9.2"]]}}}},
  "regex"
  {"jar"
   {""
    {"1.1.0"
     {:sha1 "cb2f00de4557b69248278f5cb4c8d3c8d681cb9e",
      :dependencies [["org.clojure" "clojure" "[1.2.0,)"]]}}}},
  "parsley"
  {"jar"
   {""
    {"0.9.2"
     {:sha1 "41f8c11749f5f0b7b9493986faaf828926e15917",
      :dependencies
      [["org.clojure" "clojure" "1.4.0"]
       ["net.cgrand" "regex" "1.1.0"]]},
     "0.9.3"
     {:sha1 "1a01b25ba7e1f671a73abf2c9c8317454c423ca6",
      :dependencies
      [["org.clojure" "clojure" "1.4.0"]
       ["net.cgrand" "regex" "1.1.0"]]}}}}},
 "org.slf4j"
 {"jcl-over-slf4j"
  {"jar"
   {""
    {"1.6.2"
     {:sha1 "ac4cd2d6d0cf4342b4e8fd520c686851fc681912",
      :dependencies [["org.slf4j" "slf4j-api" "1.6.2"]]}}}},
  "slf4j-api"
  {"jar"
   {""
    {"1.6.2" {:sha1 "8619e95939167fb37245b5670135e4feb0ec7d50"},
     "1.7.22" {:sha1 "a1c83373863cec7ae8d89dc1c5722d8cb6ec0309"},
     "1.7.25" {:sha1 "da76ca59f6a57ee3102f8f9bd9cee742973efa8a"}}}},
  "slf4j-nop"
  {"jar"
   {""
    {"1.7.25"
     {:sha1 "8c7708c79afec923de8957b7d4f90177628b9fcd",
      :dependencies [["org.slf4j" "slf4j-api" "1.7.25"]]}}}}},
 "com.hypirion"
 {"io"
  {"jar"
   {"" {"0.3.1" {:sha1 "3f9ad234561202d9ac69dfd0b701769cc0a53732"}}}}},
 "robert"
 {"hooke"
  {"jar"
   {"" {"1.3.0" {:sha1 "1bf2ed72892a1909d5ea33b096c65c872524af23"}}}}},
 "commons-io"
 {"commons-io"
  {"jar"
   {""
    {"2.5" {:sha1 "2852e6e05fbb95076fc091f6d1780f1f8fe35e0f"},
     "2.6" {:sha1 "815893df5f31da2ece4040fe0a12fd44b577afaf"}}}}},
 "commons-logging"
 {"commons-logging"
  {"jar"
   {""
    {"1.1.1" {:sha1 "5043bfebc3db072ed80fbd362e7caf00e885d8ae"},
     "1.2" {:sha1 "4bfc12adfe4842bf07b657f0369c4cb522955686"}}}}},
 "org.apache.commons"
 {"commons-lang3"
  {"jar"
   {"" {"3.5" {:sha1 "6c6c702c89bfff3cd9e80b04d668c5e190d588c6"}}}}},
 "quoin"
 {"quoin"
  {"jar"
   {""
    {"0.1.2"
     {:sha1 "0dbbb28df3e337233f934468915eb327ff488172",
      :dependencies [["org.clojure" "clojure" "1.3.0"]]}}}}},
 "org.apache.maven"
 {"maven-resolver-provider"
  {"jar"
   {""
    {"3.5.3"
     {:sha1 "38e9ebc754bcd51d5646f46b2b63c81adb42bc22",
      :dependencies
      [["org.apache.maven" "maven-model" "3.5.3"]
       ["org.apache.maven" "maven-model-builder" "3.5.3"]
       ["org.apache.maven" "maven-repository-metadata" "3.5.3"]
       ["org.apache.maven.resolver" "maven-resolver-api" "1.1.1"]
       ["org.apache.maven.resolver" "maven-resolver-spi" "1.1.1"]
       ["org.apache.maven.resolver" "maven-resolver-util" "1.1.1"]
       ["org.apache.maven.resolver" "maven-resolver-impl" "1.1.1"]
       ["org.codehaus.plexus" "plexus-utils" "3.1.0"]
       ["javax.inject" "1"]
       ["org.apache.commons" "commons-lang3" "3.5"]]}}}},
  "maven-model"
  {"jar"
   {""
    {"3.5.3"
     {:sha1 "3143edcc377d3c3a3be81611621c0a98c27fb7c8",
      :dependencies
      [["org.codehaus.plexus" "plexus-utils" "3.1.0"]
       ["org.apache.commons" "commons-lang3" "3.5"]]}}}},
  "maven-model-builder"
  {"jar"
   {""
    {"3.5.3"
     {:sha1 "a12e99e04272b9536cdcca8b3e71674d986b7730",
      :dependencies
      [["org.codehaus.plexus" "plexus-utils" "3.1.0"]
       ["org.codehaus.plexus" "plexus-interpolation" "1.24"]
       ["org.codehaus.plexus"
        "plexus-component-annotations"
        "1.7.1"
        {"exclusions" [["junit"]]}]
       ["org.apache.maven" "maven-model" "3.5.3"]
       ["org.apache.maven" "maven-artifact" "3.5.3"]
       ["org.apache.maven" "maven-builder-support" "3.5.3"]
       ["com.google.guava" "guava" "20.0"]
       ["org.apache.commons" "commons-lang3" "3.5"]]}}}},
  "maven-artifact"
  {"jar"
   {""
    {"3.5.3"
     {:sha1 "7dc72b6d6d8a6dced3d294ed54c2cc3515ade9f4",
      :dependencies
      [["org.codehaus.plexus" "plexus-utils" "3.1.0"]
       ["org.apache.commons" "commons-lang3" "3.5"]]}}}},
  "maven-builder-support"
  {"jar"
   {""
    {"3.5.3"
     {:sha1 "cd94540c0c7d3728be9f444f7a56967f36ccaaa0",
      :dependencies [["org.apache.commons" "commons-lang3" "3.5"]]}}}},
  "maven-repository-metadata"
  {"jar"
   {""
    {"3.5.3"
     {:sha1 "bf1dc2d74dd3fe6afe4750cfd241739bcf6b7b6d",
      :dependencies
      [["org.codehaus.plexus" "plexus-utils" "3.1.0"]]}}}}},
 "org.clojure"
 {"clojure"
  {"jar"
   {""
    {"1.8.0" {:sha1 "313066c972b6b00f390674bf0e9f732c07f205a4"},
     "1.5.0" {:sha1 "60fa560263212980c37bdc46da8ae41e6b9f6d7b"},
     "1.3.0" {:sha1 "04830e76a9e8c029acb257a70c5cf30592e5a301"},
     "1.4.0" {:sha1 "867288bc07a6514e2e0b471c5be0bccd6c3a51f9"},
     "1.9.0"
     {:sha1 "09ee19f88152373323b8af7be35de5aa6c0c4b2b",
      :dependencies
      [["org.clojure" "spec.alpha" "0.1.143"]
       ["org.clojure" "core.specs.alpha" "0.1.24"]]},
     "1.6.0" {:sha1 "1d95fb21562fa9d6df138a568ba5cab3e1dd3c98"},
     "[1.3.0,)" {},
     "[1.2.0,)" {}}}},
  "tools.macro"
  {"jar"
   {""
    {"0.1.5"
     {:sha1 "925e200c906052e462e34a2c7e78a48ffec1dec4",
      :dependencies [["org.clojure" "clojure" "1.4.0"]]}}}},
  "data.xml"
  {"jar"
   {""
    {"0.0.8"
     {:sha1 "a695c099e312d15eb75b076b9fe69c3f6ce38f23",
      :dependencies [["org.clojure" "clojure" "1.4.0"]]}}}},
  "spec.alpha"
  {"jar"
   {""
    {"0.1.143" {:sha1 "54057fc4330a7b439127effafa92d1bfeefc23f5"},
     "0.2.176"
     {:resolved-coordinate
      ["org.clojure" "spec.alpha" "jar" "" "0.2.176"],
      :sha1 "cd2d5b03d2ff95a958cb075201b89d28a7dea626"}}}},
  "core.specs.alpha"
  {"jar"
   {""
    {"0.1.24" {:sha1 "2637e33f693f51267f04e63f2acfb5d182e7bf56"},
     "0.2.44"
     {:resolved-coordinate
      ["org.clojure" "core.specs.alpha" "jar" "" "0.2.44"],
      :sha1 "6027ceb1d1ae70a6a3fb1a8da2144632fa688604"}}}},
  "core.cache"
  {"jar"
   {""
    {"0.6.3"
     {:sha1 "4cec9a62b7872495aacabad1e9d0085361ba8130",
      :dependencies
      [["org.clojure" "data.priority-map" "0.0.2"]
       ["org.clojure" "clojure" "1.4.0"]]}}}},
  "data.priority-map"
  {"jar"
   {""
    {"0.0.2"
     {:sha1 "f13311d5a510cdaaa230add17b373c9e50395d3e",
      :dependencies [["org.clojure" "clojure" "1.3.0"]]}}}}},
 "org.apache.maven.resolver"
 {"maven-resolver-api"
  {"jar"
   {""
    {"1.1.1" {:sha1 "0394a1d2a8e05d4ff7c73d6cb2c8ae361441a6d7"},
     "1.0.3" {:sha1 "d162383a7c06dd967aff68a49577660f1a52e41f"}}}},
  "maven-resolver-spi"
  {"jar"
   {""
    {"1.1.1"
     {:sha1 "b26b7424b44ca73bc2b3290f9448a88c6af3b661",
      :dependencies
      [["org.apache.maven.resolver" "maven-resolver-api" "1.1.1"]]},
     "1.0.3"
     {:sha1 "88fc571821be248bd930654811be753eafb7bb9e",
      :dependencies
      [["org.apache.maven.resolver" "maven-resolver-api" "1.0.3"]]}}}},
  "maven-resolver-util"
  {"jar"
   {""
    {"1.1.1"
     {:sha1 "df0edc6f5e3772d6573df9e155d2d909ec702838",
      :dependencies
      [["org.apache.maven.resolver" "maven-resolver-api" "1.1.1"]]},
     "1.0.3"
     {:sha1 "5c22b590fb3842db214e549ddef775a9c2e1e7e8",
      :dependencies
      [["org.apache.maven.resolver" "maven-resolver-api" "1.0.3"]]}}}},
  "maven-resolver-impl"
  {"jar"
   {""
    {"1.1.1"
     {:sha1 "1a354a6d2dbdcc6ed505b59ad03c4965dcf264b0",
      :dependencies
      [["org.apache.maven.resolver" "maven-resolver-api" "1.1.1"]
       ["org.apache.maven.resolver" "maven-resolver-spi" "1.1.1"]
       ["org.apache.maven.resolver"
        "maven-resolver-util"
        "1.1.1"]]}}}},
  "maven-resolver-transport-file"
  {"jar"
   {""
    {"1.0.3"
     {:sha1 "347480fd9e6e088b50499c5d5f46422146bd9272",
      :dependencies
      [["org.apache.maven.resolver" "maven-resolver-api" "1.0.3"]
       ["org.apache.maven.resolver" "maven-resolver-spi" "1.0.3"]
       ["org.apache.maven.resolver"
        "maven-resolver-util"
        "1.0.3"]]}}}},
  "maven-resolver-transport-http"
  {"jar"
   {""
    {"1.0.3"
     {:sha1 "64d7376245d9b403070d1e865151288c996816aa",
      :dependencies
      [["org.apache.maven.resolver" "maven-resolver-api" "1.0.3"]
       ["org.apache.maven.resolver" "maven-resolver-spi" "1.0.3"]
       ["org.apache.maven.resolver" "maven-resolver-util" "1.0.3"]
       ["org.apache.httpcomponents"
        "httpclient"
        "4.2.6"
        {"exclusions" [["commons-logging"]]}]
       ["org.slf4j" "jcl-over-slf4j" "1.6.2"]]}}}},
  "maven-resolver-transport-wagon"
  {"jar"
   {""
    {"1.0.3"
     {:sha1 "3b4b80374b60ed566279f509230f32ac02720bf0",
      :dependencies
      [["org.apache.maven.resolver" "maven-resolver-api" "1.0.3"]
       ["org.apache.maven.resolver" "maven-resolver-spi" "1.0.3"]
       ["org.apache.maven.resolver" "maven-resolver-util" "1.0.3"]
       ["org.apache.maven.wagon" "wagon-provider-api" "1.0"]]}}}},
  "maven-resolver-connector-basic"
  {"jar"
   {""
    {"1.0.3"
     {:sha1 "d5c891389e40275b3fbdb98d69e64b55bdaf0ef8",
      :dependencies
      [["org.apache.maven.resolver" "maven-resolver-api" "1.0.3"]
       ["org.apache.maven.resolver" "maven-resolver-spi" "1.0.3"]
       ["org.apache.maven.resolver"
        "maven-resolver-util"
        "1.0.3"]]}}}}},
 "com.google.guava"
 {"guava"
  {"jar"
   {"" {"20.0" {:sha1 "89507701249388e1ed5ddcf8c41f4ce1be7831ef"}}}}},
 "leiningen-core"
 {"leiningen-core"
  {"jar"
   {""
    {"2.8.2"
     {:sha1 "d358f6dd793de1a59c035c8f2c4925aa3bd5f5ea",
      :dependencies
      [["org.clojure" "clojure" "1.8.0"]
       ["timofreiberg"
        "bultitude"
        "0.3.0"
        {"exclusions" [["org.tcrawley" "dynapath"]]}]
       ["org.flatland" "classlojure" "0.7.1"]
       ["robert" "hooke" "1.3.0"]
       ["com.cemerick"
        "pomegranate"
        "1.1.0"
        {"exclusions" [["org.codehaus.plexus" "plexus-utils"]]}]
       ["org.tcrawley" "dynapath" "1.0.0"]
       ["org.apache.maven.wagon"
        "wagon-http"
        "2.12"
        {"exclusions"
         [["org.apache.httpcomponents" "httpcore"]
          ["org.apache.maven.wagon" "wagon-provider-api"]]}]
       ["com.hypirion" "io" "0.3.1"]
       ["org.slf4j" "slf4j-nop" "1.7.25"]
       ["org.clojure" "tools.macro" "0.1.5"]]}}}}},
 "commons-codec"
 {"commons-codec"
  {"jar"
   {""
    {"1.6" {:sha1 "b7f0fc8f61ecadeb3695f0b9464755eee44374d4"},
     "1.9" {:sha1 "9ce04e34240f674bc72680f8b843b1457383161a"}}}}},
 "org.codehaus.plexus"
 {"plexus-interpolation"
  {"jar"
   {"" {"1.24" {:sha1 "ff3f217127fbd6846bba831ab156e227db2cf347"}}}},
  "plexus-component-annotations"
  {"jar"
   {"" {"1.7.1" {:sha1 "862abca6deff0fff241a835a33d22559e9132069"}}}},
  "plexus-utils"
  {"jar"
   {""
    {"3.1.0" {:sha1 "60eecb6f15abdb1c653ad80abaac6fe188b3feaa"},
     "1.4.2" {:sha1 "b16d1eb4814a23d532100c868f3ed814ec1c74f6"},
     "3.0.24" {:sha1 "b4ac9780b37cb1b736eae9fbcef27609b7c911ef"}}}}},
 "org.jsoup"
 {"jsoup"
  {"jar"
   {"" {"1.7.2" {:sha1 "d7e275ba05aa380ca254f72d0c0ffebaedc3adcf"}}}}},
 "org.tcrawley"
 {"dynapath"
  {"jar"
   {"" {"1.0.0" {:sha1 "1b1d126121b16b34f7771eb8d758f498605e4b95"}}}}},
 "leiningen"
 {"leiningen"
  {"jar"
   {""
    {"2.8.2"
     {:sha1 "cef0f122894b3c68f9deaef9442e5d0bc126e4d3",
      :dependencies
      [["leiningen-core" "2.8.2"]
       ["org.clojure" "data.xml" "0.0.8"]
       ["timofreiberg" "bultitude" "0.3.0"]
       ["stencil"
        "0.5.0"
        {"exclusions" [["org.clojure" "core.cache"]]}]
       ["commons-lang" "2.6"]
       ["nrepl" "0.5.2"]
       ["net.cgrand"
        "sjacket"
        "0.1.1"
        {"exclusions" [["org.clojure" "clojure"]]}]
       ["net.cgrand"
        "parsley"
        "0.9.3"
        {"exclusions" [["org.clojure" "clojure"]]}]
       ["scout" "0.1.1"]
       ["commons-io" "2.6"]]}}}}},
 "org.apache.maven.wagon"
 {"wagon-provider-api"
  {"jar"
   {""
    {"1.0"
     {:sha1 "12bcd211158c0c09b027d06b70371861398fedea",
      :dependencies [["org.codehaus.plexus" "plexus-utils" "1.4.2"]]},
     "3.0.0"
     {:sha1 "f160b044ff0a4095170dc4dac75d69065b7c0a8d",
      :dependencies [["org.codehaus.plexus" "plexus-utils" "3.0.24"]]},
     "2.12"
     {:sha1 "a19b458a40eac754198b2b3bf99a601feee1a37c",
      :dependencies
      [["org.codehaus.plexus" "plexus-utils" "3.0.24"]]}}}},
  "wagon-http"
  {"jar"
   {""
    {"3.0.0"
     {:sha1 "a4d96c5224b412b049cf8f99f88f5c1ccff8293e",
      :dependencies
      [["org.apache.maven.wagon" "wagon-http-shared" "3.0.0"]
       ["org.apache.httpcomponents"
        "httpclient"
        "4.5.3"
        {"exclusions" [["commons-logging"]]}]
       ["org.apache.httpcomponents" "httpcore" "4.4.6"]
       ["org.codehaus.plexus" "plexus-utils" "3.0.24"]
       ["org.apache.maven.wagon" "wagon-provider-api" "3.0.0"]]},
     "2.12"
     {:sha1 "7f5b21f49e87d57a872d4bf2ec4c537210432d21",
      :dependencies
      [["org.apache.maven.wagon" "wagon-http-shared" "2.12"]
       ["org.apache.httpcomponents"
        "httpclient"
        "4.5.2"
        {"exclusions" [["commons-logging"]]}]
       ["org.codehaus.plexus" "plexus-utils" "3.0.24"]
       ["org.apache.httpcomponents" "httpcore" "4.4.4"]
       ["org.apache.maven.wagon" "wagon-provider-api" "2.12"]]}}}},
  "wagon-http-shared"
  {"jar"
   {""
    {"3.0.0"
     {:sha1 "b343bc92a74066bac02eb1d843b90e0943e6839d",
      :dependencies
      [["org.jsoup" "jsoup" "1.7.2"]
       ["org.apache.httpcomponents"
        "httpclient"
        "4.5.3"
        {"exclusions" [["commons-logging"]]}]
       ["org.apache.httpcomponents" "httpcore" "4.4.6"]
       ["commons-io" "2.5"]
       ["org.slf4j" "slf4j-api" "1.7.22"]
       ["org.apache.maven.wagon" "wagon-provider-api" "3.0.0"]]},
     "2.12"
     {:sha1 "9a029c54bacfbcda343afb9f1702dd25cd6c2c73",
      :dependencies
      [["org.jsoup" "jsoup" "1.7.2"]
       ["commons-io" "2.5"]
       ["org.slf4j" "slf4j-api" "1.7.22"]
       ["org.apache.maven.wagon" "wagon-provider-api" "2.12"]]}}}}},
 "stencil"
 {"stencil"
  {"jar"
   {""
    {"0.5.0"
     {:sha1 "978f32e8462f90dec308f8c7097161c0058e87a5",
      :dependencies
      [["org.clojure" "clojure" "1.6.0"]
       ["scout" "0.1.0"]
       ["quoin" "0.1.2"]
       ["org.clojure" "core.cache" "0.6.3"]]}}}}},
 "scout"
 {"scout"
  {"jar"
   {""
    {"0.1.0"
     {:sha1 "622087be68774316fcb136ecc00e99f8af8fd3c5",
      :dependencies [["org.clojure" "clojure" "1.3.0"]]},
     "0.1.1"
     {:sha1 "94fdb65987b15cc8f7b9c9048478b399392aa352",
      :dependencies [["org.clojure" "clojure" "1.3.0"]]}}}}},
 "javax.inject"
 {"javax.inject"
  {"jar"
   {"" {"1" {:sha1 "6975da39a7040257bd51d21a231b76c915872d38"}}}}},
 "org.flatland"
 {"classlojure"
  {"jar"
   {""
    {"0.7.1"
     {:sha1 "1bb9b527e9bf12f86779b005140592477cdd5f33",
      :dependencies [["org.clojure" "clojure" "1.5.0"]]}}}}}}
