{:webnf.dwn/containers
 {:webnf.dwn.nrepl/cider-container
  {:classpath [webnf.dwn/nrepl
               {:version "0-DEVEL"
                :source-dirs ["/home/herwig/checkout/bendlas.net/source/etc/nixos/dwn/nrepl-cmp"]}
               org.clojure/clojure
               {:version "1.9.0-alpha12"
                :jar-file "/nix/store/n3ji1xxp19jpqrznvcz0xrx6gc7p6s6f-clojure-1.9.0-alpha12.jar"}
               org.clojure/tools.nrepl
               {:version "0.2.12"
                :jar-file "/nix/store/04rr91yvqaai4gbgkqqfprd2qfmivgn6-tools.nrepl-0.2.12.jar"}
               refactor-nrepl/refactor-nrepl
               {:version "2.1.0-alpha1"
                :jar-file "/nix/store/g5lg7697gabf00wkwy2ypdng0rndlahy-refactor-nrepl-2.1.0-alpha1.jar"}
               cider/cider-nrepl
               {:version "0.13.0"
                :jar-file "/nix/store/95bm95wsr91fqldyis0p0fywldv7i02j-cider-nrepl-0.13.0.jar"}
               org.tcrawley/dynapath
               {:version "0.2.3"
                :jar-file "/nix/store/jarp31xy63v35z683avwf8ac76bc1pgm-dynapath-0.2.3.jar"}
               com.stuartsierra/component
               {:version "0.3.1"
                :jar-file "/nix/store/3mk24ih7f5ar2rhg2yf16060fk5vgqwg-component-0.3.1.jar"}
               com.stuartsierra/dependency
               {:version "0.2.0"
                :jar-file "/nix/store/iyjy887h9qgzjwbi6k9mdz2vqgqxz8bk-dependency-0.2.0.jar"}
               org.clojure/tools.logging
               {:version "0.3.1"
                :jar-file "/nix/store/n6n8j760hvpc6sijgyhak8xsn2wxzkwl-tools.logging-0.3.1.jar"}
               org.slf4j/slf4j-api
               {:version "1.7.21"
                :jar-file "/nix/store/lfy5id1cdd3bfw353k5188hl0v9g19sh-slf4j-api-1.7.21.jar"}]}
  :webnf.dwn.nrepl/cider-mixin-container #webnf.dwn.container/mixin [:webnf.dwn/base-container
                                                                     :webnf.dwn.nrepl/cider-container]}
 :webnf.dwn/components
 {:webnf.dwn.nrepl/server
  { ;; defaults to the id
   :factory webnf.dwn.nrepl/nrepl
   ;; specify config options and defaults with clojure.spec on the factory fn
   :config {:host "0.0.0.0"
            :port 1271
            :middleware []
            :enable-cider true}
   ;; define the environment to run the component in
   :container :webnf.dwn.nrepl/cider-mixin-container}}}
