{"org.clojure"
 {"clojure"
  {"jar"
   {""
    {"1.9.0-alpha16"
     {:sha1 "9d873903c39e756f1ca3472075fe9c1a7f0283ea",
      :dependencies
      [["org.clojure"
        "spec.alpha"
        "0.1.94"
        {"exclusions" [["org.clojure" "clojure"]]}]
       ["org.clojure"
        "core.specs.alpha"
        "0.1.10"
        {"exclusions"
         [["org.clojure" "clojure"] ["org.clojure" "spec.alpha"]]}]]},
     "1.9.0-alpha15"
     {:sha1 "d239fa707e1545ca63a9135defea7ad9c7f36504"},
     "1.2.0" {:sha1 "2b63087f3d0e3076db16d7ede71018d9ea694b89"}}}},
  "spec.alpha"
  {"jar"
   {""
    {"0.1.94"
     {:sha1 "4cf90613157c002e793f97e15189bfa7a27c1d5e",
      :dependencies [["org.clojure" "clojure" "1.9.0-alpha15"]]}}}},
  "core.specs.alpha"
  {"jar"
   {""
    {"0.1.10"
     {:sha1 "eab5ba816694a82017c1264a03e81a34a37d273d",
      :dependencies
      [["org.clojure" "spec.alpha" "0.1.94"]
       ["org.clojure" "clojure" "1.9.0-alpha15"]]}}}},
  "tools.nrepl"
  {"jar"
   {""
    {"0.2.13"
     {:sha1 "ee63abe4d3a2914de9343412aa5dc375436eac5c",
      :dependencies [["org.clojure" "clojure" "1.2.0"]]},
     "0.2.12"
     {:sha1 "72b4be694c5a9b253e4cd10d512ae60bb80a5450",
      :dependencies [["org.clojure" "clojure" "1.2.0"]]}}}}},
 "cider"
 {"cider-nrepl"
  {"jar"
   {""
    {"0.14.0"
     {:sha1 "35f4dd9e5bcebbe11db020849384574cee9a9ccd",
      :dependencies
      [["org.clojure"
        "tools.nrepl"
        "0.2.12"
        {"exclusions" [["org.clojure" "clojure"]]}]
       ["org.tcrawley"
        "dynapath"
        "0.2.4"
        {"exclusions" [["org.clojure" "clojure"]]}]]}}}}},
 "org.tcrawley"
 {"dynapath"
  {"jar"
   {"" {"0.2.4" {:sha1 "0b6b994030d5850679270c5acd9586c5c3c43d61"}}}}},
 "refactor-nrepl"
 {"refactor-nrepl"
  {"jar"
   {""
    {"2.3.0"
     {:sha1 "80ef69faf5b8e14a3859ed09e0f5a0dae0102ebb",
      :dependencies [["org.clojure" "tools.nrepl" "0.2.12"]]}}}}}}
