{"org.clojure"
 {"clojure"
  {"jar"
   {""
    {"1.9.0-CUSTOM"
     {:jar
      "/nix/store/dqc4qq8qncv6lyfh8blr1zmvc0l47ljl-clojure-1.9.0-alpha16-CUSTOM.jar",
      :dependencies
      [["org.clojure"
        "spec.alpha"
        "0.1.94"
        {"exclusions" [["org.clojure" "clojure"]]}]
       ["org.clojure"
        "core.specs.alpha"
        "0.1.10"
        {"exclusions"
         [["org.clojure" "clojure"] ["org.clojure" "spec.alpha"]]}]]},
     "1.9.0-alpha15"
     {:sha1 "d239fa707e1545ca63a9135defea7ad9c7f36504"},
     "1.7.0" {:sha1 "4953eb1ffa4adca22760c9324c9c26d2038c392a"},
     "1.4.0" {:sha1 "867288bc07a6514e2e0b471c5be0bccd6c3a51f9"}}}},
  "spec.alpha"
  {"jar"
   {""
    {"0.1.94"
     {:sha1 "4cf90613157c002e793f97e15189bfa7a27c1d5e",
      :dependencies [["org.clojure" "clojure" "1.9.0-alpha15"]]}}}},
  "core.specs.alpha"
  {"jar"
   {""
    {"0.1.10"
     {:sha1 "eab5ba816694a82017c1264a03e81a34a37d273d",
      :dependencies
      [["org.clojure" "spec.alpha" "0.1.94"]
       ["org.clojure" "clojure" "1.9.0-alpha15"]]}}}},
  "test.check"
  {"jar"
   {""
    {"0.9.0"
     {:sha1 "79046cb8a9a61d6702b3a758b967bf410287c8fd",
      :dependencies [["org.clojure" "clojure" "1.7.0"]]}}}},
  "tools.logging"
  {"jar"
   {""
    {"0.3.1"
     {:sha1 "d8342cb0b6825cd12115cc1a9ccef988484478b2",
      :dependencies [["org.clojure" "clojure" "1.4.0"]]}}}}},
 "com.stuartsierra"
 {"component"
  {"jar"
   {""
    {"0.3.2"
     {:sha1 "356fcceba88787671bd08c5cd788ef3541cce6ca",
      :dependencies
      [["com.stuartsierra" "dependency" "0.2.0"]
       ["org.clojure" "clojure" "1.7.0"]]}}}},
  "dependency"
  {"jar"
   {"" {"0.2.0" {:sha1 "9e192005144258ea82ee8459bf2afeda88d45a36"}}}}},
 "webnf.deps"
 {"logback"
  {"jar"
   {""
    {"0.2.0-alpha2"
     {:sha1 "435e8d61aebcb6ea86b2b27b298188514585c80e",
      :dependencies
      [["ch.qos.logback" "logback-classic" "1.2.1"]
       ["org.slf4j" "slf4j-api" "1.7.24"]
       ["org.slf4j" "log4j-over-slf4j" "1.7.24"]
       ["org.slf4j" "jcl-over-slf4j" "1.7.24"]
       ["org.slf4j" "jul-to-slf4j" "1.7.24"]]}}}}},
 "ch.qos.logback"
 {"logback-classic"
  {"jar"
   {""
    {"1.2.1"
     {:sha1 "706a8b8206ead3683ec639dd270d11fd948fbb0e",
      :dependencies
      [["ch.qos.logback" "logback-core" "1.2.1"]
       ["org.slf4j" "slf4j-api" "1.7.22"]]}}}},
  "logback-core"
  {"jar"
   {"" {"1.2.1" {:sha1 "0378913dfc3c6c71e7e2a2853eff2c3e8ac27599"}}}}},
 "org.slf4j"
 {"slf4j-api"
  {"jar"
   {""
    {"1.7.22" {:sha1 "a1c83373863cec7ae8d89dc1c5722d8cb6ec0309"},
     "1.7.24" {:sha1 "3f6b4bd4f8dbe8d4bea06d107a3826469b85c3e9"}}}},
  "log4j-over-slf4j"
  {"jar"
   {""
    {"1.7.24"
     {:sha1 "6ab46c51a3848286a0db3ba7b22037b3834c3c44",
      :dependencies [["org.slf4j" "slf4j-api" "1.7.24"]]}}}},
  "jcl-over-slf4j"
  {"jar"
   {""
    {"1.7.24"
     {:sha1 "e6a8629079856a2aa7862c6327ccf6dd1988d7fc",
      :dependencies [["org.slf4j" "slf4j-api" "1.7.24"]]}}}},
  "jul-to-slf4j"
  {"jar"
   {""
    {"1.7.24"
     {:sha1 "25a2be668cb2ad1d05d76c0773df73b4b53617fd",
      :dependencies [["org.slf4j" "slf4j-api" "1.7.24"]]}}}}},
 "webnf"
 {"juds"
  {"dirs"
   {""
    {"CUSTOM"
     {:dirs
      ["/nix/store/zr69vcv2wrzlyxb49pxdj8z9g0mdcbbj-juds-0.95/lib"]}}}}}}
