{"org.apache.httpcomponents"
 {"httpclient"
  {"jar"
   {""
    {"4.5.3"
     {:sha1 "d1577ae15f01ef5438c5afc62162457c00a34713",
      :dependencies
      [["org.apache.httpcomponents" "httpcore" "4.4.6"]
       ["commons-logging" "1.2"]
       ["commons-codec" "1.9"]]}}}},
  "httpcore"
  {"jar"
   {"" {"4.4.6" {:sha1 "e3fd8ced1f52c7574af952e2e6da0df8df08eb82"}}}}},
 "org.slf4j"
 {"slf4j-api"
  {"jar"
   {""
    {"1.7.22" {:sha1 "a1c83373863cec7ae8d89dc1c5722d8cb6ec0309"},
     "1.7.24" {:sha1 "3f6b4bd4f8dbe8d4bea06d107a3826469b85c3e9"}}}},
  "log4j-over-slf4j"
  {"jar"
   {""
    {"1.7.24"
     {:sha1 "6ab46c51a3848286a0db3ba7b22037b3834c3c44",
      :dependencies [["org.slf4j" "slf4j-api" "1.7.24"]]}}}},
  "jcl-over-slf4j"
  {"jar"
   {""
    {"1.7.24"
     {:sha1 "e6a8629079856a2aa7862c6327ccf6dd1988d7fc",
      :dependencies [["org.slf4j" "slf4j-api" "1.7.24"]]}}}},
  "jul-to-slf4j"
  {"jar"
   {""
    {"1.7.24"
     {:sha1 "25a2be668cb2ad1d05d76c0773df73b4b53617fd",
      :dependencies [["org.slf4j" "slf4j-api" "1.7.24"]]}}}}},
 "org.eclipse.aether"
 {"aether-api"
  {"jar"
   {""
    {"1.0.2.v20150114"
     {:sha1 "839f93a5213fb3e233b09bfd6d6b95669f7043c0"},
     "1.1.0" {:sha1 "05dd291e788f50dfb48822dab29defc16ad70860"}}}},
  "aether-spi"
  {"jar"
   {""
    {"1.0.2.v20150114"
     {:sha1 "8428dfa330107984f3e3ac05cc3ebd50b2676866",
      :dependencies
      [["org.eclipse.aether" "aether-api" "1.0.2.v20150114"]]},
     "1.1.0"
     {:sha1 "a532baa7b965d2893ceace03e804b1882f448052",
      :dependencies [["org.eclipse.aether" "aether-api" "1.1.0"]]}}}},
  "aether-util"
  {"jar"
   {""
    {"1.0.2.v20150114"
     {:sha1 "d2d3c74a5210544b5cdce89a2c1d1c62835692d1",
      :dependencies
      [["org.eclipse.aether" "aether-api" "1.0.2.v20150114"]]},
     "1.1.0"
     {:sha1 "d0f84ba994f0133580e8b957a44593eaa03d42cd",
      :dependencies [["org.eclipse.aether" "aether-api" "1.1.0"]]}}}},
  "aether-impl"
  {"jar"
   {""
    {"1.0.2.v20150114"
     {:sha1 "f147539e6e60dfbda9ef7f6d750066170f61b7a1",
      :dependencies
      [["org.eclipse.aether" "aether-api" "1.0.2.v20150114"]
       ["org.eclipse.aether" "aether-spi" "1.0.2.v20150114"]
       ["org.eclipse.aether" "aether-util" "1.0.2.v20150114"]]},
     "1.1.0"
     {:sha1 "8236fde6a1a4a7c6018d0a09e476f11c5ca8c2e1",
      :dependencies
      [["org.eclipse.aether" "aether-api" "1.1.0"]
       ["org.eclipse.aether" "aether-spi" "1.1.0"]
       ["org.eclipse.aether" "aether-util" "1.1.0"]]}}}},
  "aether-transport-file"
  {"jar"
   {""
    {"1.1.0"
     {:sha1 "5c257319ccba22a02fa583c3946bfcbb47638bc8",
      :dependencies
      [["org.eclipse.aether" "aether-api" "1.1.0"]
       ["org.eclipse.aether" "aether-spi" "1.1.0"]
       ["org.eclipse.aether" "aether-util" "1.1.0"]]}}}},
  "aether-transport-wagon"
  {"jar"
   {""
    {"1.1.0"
     {:sha1 "5aeaa19811ae01f4ec6511e83304120679e47b45",
      :dependencies
      [["org.eclipse.aether" "aether-api" "1.1.0"]
       ["org.eclipse.aether" "aether-spi" "1.1.0"]
       ["org.eclipse.aether" "aether-util" "1.1.0"]
       ["org.apache.maven.wagon" "wagon-provider-api" "1.0"]]}}}},
  "aether-connector-basic"
  {"jar"
   {""
    {"1.1.0"
     {:sha1 "f5c784bdd704ff64166c086eb6b31e2784c87b66",
      :dependencies
      [["org.eclipse.aether" "aether-api" "1.1.0"]
       ["org.eclipse.aether" "aether-spi" "1.1.0"]
       ["org.eclipse.aether" "aether-util" "1.1.0"]]}}}}},
 "ch.qos.logback"
 {"logback-classic"
  {"jar"
   {""
    {"1.2.1"
     {:sha1 "706a8b8206ead3683ec639dd270d11fd948fbb0e",
      :dependencies
      [["ch.qos.logback" "logback-core" "1.2.1"]
       ["org.slf4j" "slf4j-api" "1.7.22"]]}}}},
  "logback-core"
  {"jar"
   {"" {"1.2.1" {:sha1 "0378913dfc3c6c71e7e2a2853eff2c3e8ac27599"}}}}},
 "junit"
 {"junit"
  {"jar"
   {"" {"3.8.1" {:sha1 "99129f16442844f6a4a11ae22fbbee40b14d774f"}}}}},
 "commons-io"
 {"commons-io"
  {"jar"
   {"" {"2.5" {:sha1 "2852e6e05fbb95076fc091f6d1780f1f8fe35e0f"}}}}},
 "commons-logging"
 {"commons-logging"
  {"jar"
   {"" {"1.2" {:sha1 "4bfc12adfe4842bf07b657f0369c4cb522955686"}}}}},
 "org.apache.commons"
 {"commons-lang3"
  {"jar"
   {"" {"3.4" {:sha1 "5fe28b9518e58819180a43a850fbc0dd24b7c050"}}}}},
 "org.apache.maven"
 {"maven-aether-provider"
  {"jar"
   {""
    {"3.3.9"
     {:sha1 "29e8e7122f7a166ea53785cd75af0ef9d4d848d4",
      :dependencies
      [["org.apache.maven" "maven-model" "3.3.9"]
       ["org.apache.maven" "maven-model-builder" "3.3.9"]
       ["org.apache.maven" "maven-repository-metadata" "3.3.9"]
       ["org.eclipse.aether" "aether-api" "1.0.2.v20150114"]
       ["org.eclipse.aether" "aether-spi" "1.0.2.v20150114"]
       ["org.eclipse.aether" "aether-util" "1.0.2.v20150114"]
       ["org.eclipse.aether" "aether-impl" "1.0.2.v20150114"]
       ["org.codehaus.plexus"
        "plexus-component-annotations"
        "1.6"
        {"exclusions" [["junit"]]}]
       ["org.codehaus.plexus" "plexus-utils" "3.0.22"]
       ["org.apache.commons" "commons-lang3" "3.4"]]}}}},
  "maven-model"
  {"jar"
   {""
    {"3.3.9"
     {:sha1 "6efde8cbcb4de4c47f7e9c2a3ab2806022b5c70f",
      :dependencies
      [["org.codehaus.plexus" "plexus-utils" "3.0.22"]
       ["org.apache.commons" "commons-lang3" "3.4"]]}}}},
  "maven-model-builder"
  {"jar"
   {""
    {"3.3.9"
     {:sha1 "e2055f9adb9f3c9a93e6b36fffe79781a785de2d",
      :dependencies
      [["org.codehaus.plexus" "plexus-utils" "3.0.22"]
       ["org.codehaus.plexus" "plexus-interpolation" "1.21"]
       ["org.codehaus.plexus"
        "plexus-component-annotations"
        "1.6"
        {"exclusions" [["junit"]]}]
       ["org.apache.maven" "maven-model" "3.3.9"]
       ["org.apache.maven" "maven-artifact" "3.3.9"]
       ["org.apache.maven" "maven-builder-support" "3.3.9"]
       ["com.google.guava" "guava" "18.0"]
       ["org.apache.commons" "commons-lang3" "3.4"]]}}}},
  "maven-artifact"
  {"jar"
   {""
    {"3.3.9"
     {:sha1 "0f43afa184555fbc6e36b3334b17246c39b30f6e",
      :dependencies
      [["org.codehaus.plexus" "plexus-utils" "3.0.22"]
       ["org.apache.commons" "commons-lang3" "3.4"]]}}}},
  "maven-builder-support"
  {"jar"
   {""
    {"3.3.9"
     {:sha1 "a96f29da7623c0e1db9824f628548fe8181f6dd0",
      :dependencies
      [["org.codehaus.plexus" "plexus-utils" "3.0.22"]
       ["org.apache.commons" "commons-lang3" "3.4"]]}}}},
  "maven-repository-metadata"
  {"jar"
   {""
    {"3.3.9"
     {:sha1 "6850232b35e504057d67bde11efddebf6271e1ce",
      :dependencies
      [["org.codehaus.plexus" "plexus-utils" "3.0.22"]]}}}}},
 "com.jcraft"
 {"jsch"
  {"jar"
   {""
    {"0.1.54" {:sha1 "da3584329a263616e277e15462b387addd1b208d"},
     "0.1.49" {:sha1 "5c46cae7d01e845379beac44512e25eb11017159"}}}},
  "jsch.agentproxy.connector-factory"
  {"jar"
   {""
    {"0.0.9"
     {:sha1 "ef48f016e1d4a06404fa769e7d316f6e07ad09d1",
      :dependencies
      [["com.jcraft" "jsch.agentproxy.core" "0.0.9"]
       ["com.jcraft" "jsch.agentproxy.usocket-jna" "0.0.9"]
       ["com.jcraft" "jsch.agentproxy.usocket-nc" "0.0.9"]
       ["com.jcraft" "jsch.agentproxy.sshagent" "0.0.9"]
       ["com.jcraft" "jsch.agentproxy.pageant" "0.0.9"]]}}}},
  "jsch.agentproxy.core"
  {"jar"
   {"" {"0.0.9" {:sha1 "1af3741c3a83a71e29b8aa7637979791e50e538b"}}}},
  "jsch.agentproxy.usocket-jna"
  {"jar"
   {""
    {"0.0.9"
     {:sha1 "100522438a57b4c0d15db112fc8a08d17f48080a",
      :dependencies
      [["com.jcraft" "jsch.agentproxy.core" "0.0.9"]
       ["net.java.dev.jna" "jna" "4.1.0"]
       ["net.java.dev.jna" "jna-platform" "4.1.0"]]}}}},
  "jsch.agentproxy.usocket-nc"
  {"jar"
   {""
    {"0.0.9"
     {:sha1 "926fd2eb5586c779b8d7827036ea8e06fe7744ba",
      :dependencies
      [["com.jcraft" "jsch.agentproxy.core" "0.0.9"]]}}}},
  "jsch.agentproxy.sshagent"
  {"jar"
   {""
    {"0.0.9"
     {:sha1 "2ecca436463287682d16c3fa628bd7cca426cf6f",
      :dependencies
      [["com.jcraft" "jsch.agentproxy.core" "0.0.9"]]}}}},
  "jsch.agentproxy.pageant"
  {"jar"
   {""
    {"0.0.9"
     {:sha1 "7651361429af009ff18a6ea5c4e5d38ecff7f959",
      :dependencies
      [["com.jcraft" "jsch.agentproxy.core" "0.0.9"]
       ["net.java.dev.jna" "jna" "4.1.0"]
       ["net.java.dev.jna" "jna-platform" "4.1.0"]]}}}},
  "jsch.agentproxy.jsch"
  {"jar"
   {""
    {"0.0.9"
     {:sha1 "26f5c718216f1668f674816e580aa7c92f2660ad",
      :dependencies
      [["com.jcraft" "jsch" "0.1.49"]
       ["com.jcraft" "jsch.agentproxy.core" "0.0.9"]]}}}}},
 "org.clojure"
 {"clojure"
  {"jar"
   {""
    {"1.9.0-beta2"
     {:sha1 "805f0fdcda9776123a60b381cb9595854ad5090c",
      :dependencies
      [["org.clojure" "spec.alpha" "0.1.134"]
       ["org.clojure" "core.specs.alpha" "0.1.24"]]}}}},
  "spec.alpha"
  {"jar"
   {""
    {"0.1.134" {:sha1 "2d5e5b9ceb88dc73608d0b7e41b55c5d12556c32"}}}},
  "core.specs.alpha"
  {"jar"
   {""
    {"0.1.24" {:sha1 "2637e33f693f51267f04e63f2acfb5d182e7bf56"}}}}},
 "com.google.guava"
 {"guava"
  {"jar"
   {"" {"18.0" {:sha1 "cce0823396aa693798f8882e64213b1772032b09"}}}}},
 "commons-codec"
 {"commons-codec"
  {"jar"
   {"" {"1.9" {:sha1 "9ce04e34240f674bc72680f8b843b1457383161a"}}}}},
 "org.codehaus.plexus"
 {"plexus-interpolation"
  {"jar"
   {"" {"1.21" {:sha1 "f92de59d295f16868001644acc21720f3ec9eb15"}}}},
  "plexus-component-annotations"
  {"jar"
   {"" {"1.6" {:sha1 "1a34a4e12b5fded8c548a568f463dfee21500927"}}}},
  "plexus-utils"
  {"jar"
   {""
    {"3.0.22" {:sha1 "764f26e0ab13a87c48fe55f525dfb6a133b7a92f"},
     "1.4.2" {:sha1 "b16d1eb4814a23d532100c868f3ed814ec1c74f6"},
     "3.0.24" {:sha1 "b4ac9780b37cb1b736eae9fbcef27609b7c911ef"},
     "1.4" {:sha1 "9383ed6b6798c8909b2c842644757bbcb79cc8c3"}}}},
  "plexus-interactivity-api"
  {"jar"
   {""
    {"1.0-alpha-6"
     {:sha1 "c06f0eb818633033f09a87d14c4cfb6f39af9a37",
      :dependencies
      [["org.codehaus.plexus" "plexus-utils" "1.4"]
       ["org.codehaus.plexus"
        "plexus-component-api"
        "1.0-alpha-16"]]}}}},
  "plexus-component-api"
  {"jar"
   {""
    {"1.0-alpha-16"
     {:sha1 "5a2100a1c6a37804b1abfc70000b0ea33b83b7f9",
      :dependencies
      [["org.codehaus.plexus" "plexus-classworlds" "1.2-alpha-7"]
       ["junit" "3.8.1"]]}}}},
  "plexus-classworlds"
  {"jar"
   {""
    {"1.2-alpha-7"
     {:sha1 "ed03d1eeb9b2576747df0d2883d9006fa5e1febe",
      :dependencies [["junit" "3.8.1"]]}}}}},
 "org.jsoup"
 {"jsoup"
  {"jar"
   {"" {"1.7.2" {:sha1 "d7e275ba05aa380ca254f72d0c0ffebaedc3adcf"}}}}},
 "org.apache.maven.wagon"
 {"wagon-provider-api"
  {"jar"
   {""
    {"1.0"
     {:sha1 "12bcd211158c0c09b027d06b70371861398fedea",
      :dependencies [["org.codehaus.plexus" "plexus-utils" "1.4.2"]]},
     "3.0.0"
     {:sha1 "f160b044ff0a4095170dc4dac75d69065b7c0a8d",
      :dependencies
      [["org.codehaus.plexus" "plexus-utils" "3.0.24"]]}}}},
  "wagon-http"
  {"jar"
   {""
    {"3.0.0"
     {:sha1 "a4d96c5224b412b049cf8f99f88f5c1ccff8293e",
      :dependencies
      [["org.apache.maven.wagon" "wagon-http-shared" "3.0.0"]
       ["org.apache.httpcomponents"
        "httpclient"
        "4.5.3"
        {"exclusions" [["commons-logging"]]}]
       ["org.apache.httpcomponents" "httpcore" "4.4.6"]
       ["org.codehaus.plexus" "plexus-utils" "3.0.24"]
       ["org.apache.maven.wagon" "wagon-provider-api" "3.0.0"]]}}}},
  "wagon-http-shared"
  {"jar"
   {""
    {"3.0.0"
     {:sha1 "b343bc92a74066bac02eb1d843b90e0943e6839d",
      :dependencies
      [["org.jsoup" "jsoup" "1.7.2"]
       ["org.apache.httpcomponents"
        "httpclient"
        "4.5.3"
        {"exclusions" [["commons-logging"]]}]
       ["org.apache.httpcomponents" "httpcore" "4.4.6"]
       ["commons-io" "2.5"]
       ["org.slf4j" "slf4j-api" "1.7.22"]
       ["org.apache.maven.wagon" "wagon-provider-api" "3.0.0"]]}}}},
  "wagon-ssh"
  {"jar"
   {""
    {"3.0.0"
     {:sha1 "15339af55767a2e5c508eff2747db19adb7f3969",
      :dependencies
      [["com.jcraft" "jsch" "0.1.54"]
       ["com.jcraft" "jsch.agentproxy.connector-factory" "0.0.9"]
       ["com.jcraft" "jsch.agentproxy.jsch" "0.0.9"]
       ["org.codehaus.plexus" "plexus-utils" "3.0.24"]
       ["org.codehaus.plexus"
        "plexus-interactivity-api"
        "1.0-alpha-6"
        {"exclusions"
         [["plexus" "plexus-utils"]
          ["org.codehaus.plexus" "plexus-container-default"]
          ["classworlds"]]}]
       ["org.apache.maven.wagon" "wagon-ssh-common" "3.0.0"]
       ["org.apache.maven.wagon" "wagon-provider-api" "3.0.0"]]}}}},
  "wagon-ssh-common"
  {"jar"
   {""
    {"3.0.0"
     {:sha1 "0c889c3def9481fff9ce93cc2037e52982a0c3b8",
      :dependencies
      [["org.codehaus.plexus" "plexus-utils" "3.0.24"]
       ["org.codehaus.plexus"
        "plexus-interactivity-api"
        "1.0-alpha-6"
        {"exclusions"
         [["org.codehaus.plexus" "plexus-component-api"]]}]
       ["org.apache.maven.wagon" "wagon-provider-api" "3.0.0"]]}}}}},
 "webnf.deps"
 {"logback"
  {"jar"
   {""
    {"0.2.0-alpha2"
     {:sha1 "435e8d61aebcb6ea86b2b27b298188514585c80e",
      :dependencies
      [["ch.qos.logback" "logback-classic" "1.2.1"]
       ["org.slf4j" "slf4j-api" "1.7.24"]
       ["org.slf4j" "log4j-over-slf4j" "1.7.24"]
       ["org.slf4j" "jcl-over-slf4j" "1.7.24"]
       ["org.slf4j" "jul-to-slf4j" "1.7.24"]]}}}}},
 "net.java.dev.jna"
 {"jna"
  {"jar"
   {"" {"4.1.0" {:sha1 "1c12d070e602efd8021891cdd7fd18bc129372d4"}}}},
  "jna-platform"
  {"jar"
   {""
    {"4.1.0"
     {:sha1 "23457ad1cf75c2c16763330de5565a0e67b4bc0a",
      :dependencies [["net.java.dev.jna" "jna" "4.1.0"]]}}}}}}
