{"org.clojure"
 {"spec.alpha"
  {"jar"
   {""
    {"0.2.176"
     {:resolved-coordinate
      ["org.clojure" "spec.alpha" "jar" "" "0.2.176"],
      :sha1 "cd2d5b03d2ff95a958cb075201b89d28a7dea626"}}}},
  "core.specs.alpha"
  {"jar"
   {""
    {"0.2.44"
     {:resolved-coordinate
      ["org.clojure" "core.specs.alpha" "jar" "" "0.2.44"],
      :sha1 "6027ceb1d1ae70a6a3fb1a8da2144632fa688604"}}}},
  "test.check"
  {"jar"
   {""
    {"0.9.0"
     {:sha1 "79046cb8a9a61d6702b3a758b967bf410287c8fd",
      :dependencies [["org.clojure" "clojure" "1.7.0"]]}}}},
  "clojure"
  {"jar"
   {""
    {"1.7.0" {:sha1 "4953eb1ffa4adca22760c9324c9c26d2038c392a"},
     "1.4.0" {:sha1 "867288bc07a6514e2e0b471c5be0bccd6c3a51f9"}}}},
  "tools.logging"
  {"jar"
   {""
    {"0.3.1"
     {:sha1 "d8342cb0b6825cd12115cc1a9ccef988484478b2",
      :dependencies [["org.clojure" "clojure" "1.4.0"]]}}}}},
 "com.stuartsierra"
 {"component"
  {"jar"
   {""
    {"0.3.2"
     {:sha1 "356fcceba88787671bd08c5cd788ef3541cce6ca",
      :dependencies
      [["com.stuartsierra" "dependency" "0.2.0"]
       ["org.clojure" "clojure" "1.7.0"]]}}}},
  "dependency"
  {"jar"
   {"" {"0.2.0" {:sha1 "9e192005144258ea82ee8459bf2afeda88d45a36"}}}}},
 "webnf.deps"
 {"logback"
  {"jar"
   {""
    {"0.2.0-alpha2"
     {:sha1 "435e8d61aebcb6ea86b2b27b298188514585c80e",
      :dependencies
      [["ch.qos.logback" "logback-classic" "1.2.1"]
       ["org.slf4j" "slf4j-api" "1.7.24"]
       ["org.slf4j" "log4j-over-slf4j" "1.7.24"]
       ["org.slf4j" "jcl-over-slf4j" "1.7.24"]
       ["org.slf4j" "jul-to-slf4j" "1.7.24"]]}}}}},
 "ch.qos.logback"
 {"logback-classic"
  {"jar"
   {""
    {"1.2.1"
     {:sha1 "706a8b8206ead3683ec639dd270d11fd948fbb0e",
      :dependencies
      [["ch.qos.logback" "logback-core" "1.2.1"]
       ["org.slf4j" "slf4j-api" "1.7.22"]]}}}},
  "logback-core"
  {"jar"
   {"" {"1.2.1" {:sha1 "0378913dfc3c6c71e7e2a2853eff2c3e8ac27599"}}}}},
 "org.slf4j"
 {"slf4j-api"
  {"jar"
   {""
    {"1.7.22" {:sha1 "a1c83373863cec7ae8d89dc1c5722d8cb6ec0309"},
     "1.7.24" {:sha1 "3f6b4bd4f8dbe8d4bea06d107a3826469b85c3e9"}}}},
  "log4j-over-slf4j"
  {"jar"
   {""
    {"1.7.24"
     {:sha1 "6ab46c51a3848286a0db3ba7b22037b3834c3c44",
      :dependencies [["org.slf4j" "slf4j-api" "1.7.24"]]}}}},
  "jcl-over-slf4j"
  {"jar"
   {""
    {"1.7.24"
     {:sha1 "e6a8629079856a2aa7862c6327ccf6dd1988d7fc",
      :dependencies [["org.slf4j" "slf4j-api" "1.7.24"]]}}}},
  "jul-to-slf4j"
  {"jar"
   {""
    {"1.7.24"
     {:sha1 "25a2be668cb2ad1d05d76c0773df73b4b53617fd",
      :dependencies [["org.slf4j" "slf4j-api" "1.7.24"]]}}}}}}
