{"org.apache.httpcomponents"
 {"httpclient"
  {"jar"
   {""
    {"4.5.6"
     {:sha1 "1afe5621985efe90a92d0fbc9be86271efbe796f",
      :dependencies
      [["org.apache.httpcomponents" "httpcore" "4.4.10"]
       ["commons-logging" "1.2"]
       ["commons-codec" "1.10"]]}}}},
  "httpcore"
  {"jar"
   {""
    {"4.4.10" {:sha1 "acc54d9b28bdffe4bbde89ed2e4a1e86b5285e2b"}}}}},
 "org.slf4j"
 {"slf4j-api"
  {"jar"
   {"" {"1.7.25" {:sha1 "da76ca59f6a57ee3102f8f9bd9cee742973efa8a"}}}},
  "log4j-over-slf4j"
  {"jar"
   {""
    {"1.7.25"
     {:sha1 "a87bb47468f47ee7aabbd54f93e133d4215769c3",
      :dependencies [["org.slf4j" "slf4j-api" "1.7.25"]]}}}},
  "jcl-over-slf4j"
  {"jar"
   {""
    {"1.7.25"
     {:sha1 "f8c32b13ff142a513eeb5b6330b1588dcb2c0461",
      :dependencies [["org.slf4j" "slf4j-api" "1.7.25"]]}}}},
  "jul-to-slf4j"
  {"jar"
   {""
    {"1.7.25"
     {:sha1 "0af5364cd6679bfffb114f0dec8a157aaa283b76",
      :dependencies [["org.slf4j" "slf4j-api" "1.7.25"]]}}}}},
 "ch.qos.logback"
 {"logback-classic"
  {"jar"
   {""
    {"1.2.3"
     {:sha1 "7c4f3c474fb2c041d8028740440937705ebb473a",
      :dependencies
      [["ch.qos.logback" "logback-core" "1.2.3"]
       ["org.slf4j" "slf4j-api" "1.7.25"]]}}}},
  "logback-core"
  {"jar"
   {"" {"1.2.3" {:sha1 "864344400c3d4d92dfeb0a305dc87d953677c03c"}}}}},
 "junit"
 {"junit"
  {"jar"
   {"" {"3.8.1" {:sha1 "99129f16442844f6a4a11ae22fbbee40b14d774f"}}}}},
 "commons-io"
 {"commons-io"
  {"jar"
   {"" {"2.6" {:sha1 "815893df5f31da2ece4040fe0a12fd44b577afaf"}}}}},
 "commons-logging"
 {"commons-logging"
  {"jar"
   {"" {"1.2" {:sha1 "4bfc12adfe4842bf07b657f0369c4cb522955686"}}}}},
 "org.apache.commons"
 {"commons-lang3"
  {"jar"
   {"" {"3.8.1" {:sha1 "6505a72a097d9270f7a9e7bf42c4238283247755"}}}}},
 "org.apache.maven"
 {"maven-resolver-provider"
  {"jar"
   {""
    {"3.6.0"
     {:sha1 "feacf8ad983e794952562febef0a4962eec1c22e",
      :dependencies
      [["org.apache.maven" "maven-model" "3.6.0"]
       ["org.apache.maven" "maven-model-builder" "3.6.0"]
       ["org.apache.maven" "maven-repository-metadata" "3.6.0"]
       ["org.apache.maven.resolver" "maven-resolver-api" "1.3.1"]
       ["org.apache.maven.resolver" "maven-resolver-spi" "1.3.1"]
       ["org.apache.maven.resolver" "maven-resolver-util" "1.3.1"]
       ["org.apache.maven.resolver" "maven-resolver-impl" "1.3.1"]
       ["org.codehaus.plexus" "plexus-utils" "3.1.0"]
       ["javax.inject" "1"]
       ["org.slf4j" "slf4j-api" "1.7.25"]]}}}},
  "maven-model"
  {"jar"
   {""
    {"3.6.0"
     {:sha1 "06d73e6218a10cfe82cf0325b582cbed732cc751",
      :dependencies
      [["org.codehaus.plexus" "plexus-utils" "3.1.0"]]}}}},
  "maven-model-builder"
  {"jar"
   {""
    {"3.6.0"
     {:sha1 "c9a8b1367163af0ed8887e8422f361b66e67a6d5",
      :dependencies
      [["org.codehaus.plexus" "plexus-utils" "3.1.0"]
       ["org.codehaus.plexus" "plexus-interpolation" "1.25"]
       ["org.codehaus.plexus"
        "plexus-component-annotations"
        "1.7.1"
        {"exclusions" [["junit"]]}]
       ["org.apache.maven" "maven-model" "3.6.0"]
       ["org.apache.maven" "maven-artifact" "3.6.0"]
       ["org.apache.maven" "maven-builder-support" "3.6.0"]]}}}},
  "maven-artifact"
  {"jar"
   {""
    {"3.6.0"
     {:sha1 "d4c0da647de59c9ccc304a112fe1f1474d49e8eb",
      :dependencies
      [["org.codehaus.plexus" "plexus-utils" "3.1.0"]
       ["org.apache.commons" "commons-lang3" "3.8.1"]]}}}},
  "maven-builder-support"
  {"jar"
   {"" {"3.6.0" {:sha1 "91247204af8e1b256f3d644f736a8acad76794e5"}}}},
  "maven-repository-metadata"
  {"jar"
   {""
    {"3.6.0"
     {:sha1 "ab6576d2d7d02c20d8dadb2fdf8571991a47bd0a",
      :dependencies
      [["org.codehaus.plexus" "plexus-utils" "3.1.0"]]}}}}},
 "com.jcraft"
 {"jsch"
  {"jar"
   {""
    {"0.1.54" {:sha1 "da3584329a263616e277e15462b387addd1b208d"},
     "0.1.49" {:sha1 "5c46cae7d01e845379beac44512e25eb11017159"}}}},
  "jsch.agentproxy.connector-factory"
  {"jar"
   {""
    {"0.0.9"
     {:sha1 "ef48f016e1d4a06404fa769e7d316f6e07ad09d1",
      :dependencies
      [["com.jcraft" "jsch.agentproxy.core" "0.0.9"]
       ["com.jcraft" "jsch.agentproxy.usocket-jna" "0.0.9"]
       ["com.jcraft" "jsch.agentproxy.usocket-nc" "0.0.9"]
       ["com.jcraft" "jsch.agentproxy.sshagent" "0.0.9"]
       ["com.jcraft" "jsch.agentproxy.pageant" "0.0.9"]]}}}},
  "jsch.agentproxy.core"
  {"jar"
   {"" {"0.0.9" {:sha1 "1af3741c3a83a71e29b8aa7637979791e50e538b"}}}},
  "jsch.agentproxy.usocket-jna"
  {"jar"
   {""
    {"0.0.9"
     {:sha1 "100522438a57b4c0d15db112fc8a08d17f48080a",
      :dependencies
      [["com.jcraft" "jsch.agentproxy.core" "0.0.9"]
       ["net.java.dev.jna" "jna" "4.1.0"]
       ["net.java.dev.jna" "jna-platform" "4.1.0"]]}}}},
  "jsch.agentproxy.usocket-nc"
  {"jar"
   {""
    {"0.0.9"
     {:sha1 "926fd2eb5586c779b8d7827036ea8e06fe7744ba",
      :dependencies
      [["com.jcraft" "jsch.agentproxy.core" "0.0.9"]]}}}},
  "jsch.agentproxy.sshagent"
  {"jar"
   {""
    {"0.0.9"
     {:sha1 "2ecca436463287682d16c3fa628bd7cca426cf6f",
      :dependencies
      [["com.jcraft" "jsch.agentproxy.core" "0.0.9"]]}}}},
  "jsch.agentproxy.pageant"
  {"jar"
   {""
    {"0.0.9"
     {:sha1 "7651361429af009ff18a6ea5c4e5d38ecff7f959",
      :dependencies
      [["com.jcraft" "jsch.agentproxy.core" "0.0.9"]
       ["net.java.dev.jna" "jna" "4.1.0"]
       ["net.java.dev.jna" "jna-platform" "4.1.0"]]}}}},
  "jsch.agentproxy.jsch"
  {"jar"
   {""
    {"0.0.9"
     {:sha1 "26f5c718216f1668f674816e580aa7c92f2660ad",
      :dependencies
      [["com.jcraft" "jsch" "0.1.49"]
       ["com.jcraft" "jsch.agentproxy.core" "0.0.9"]]}}}}},
 "org.clojure"
 {"spec.alpha"
  {"jar"
   {""
    {"0.2.176"
     {:resolved-coordinate
      ["org.clojure" "spec.alpha" "jar" "" "0.2.176"],
      :sha1 "cd2d5b03d2ff95a958cb075201b89d28a7dea626"}}}},
  "core.specs.alpha"
  {"jar"
   {""
    {"0.2.44"
     {:resolved-coordinate
      ["org.clojure" "core.specs.alpha" "jar" "" "0.2.44"],
      :sha1 "6027ceb1d1ae70a6a3fb1a8da2144632fa688604"}}}}},
 "org.apache.maven.resolver"
 {"maven-resolver-api"
  {"jar"
   {"" {"1.3.1" {:sha1 "4a8cb0bf19651f6869353609065bb893bb033ef6"}}}},
  "maven-resolver-spi"
  {"jar"
   {""
    {"1.3.1"
     {:sha1 "7780f1f8ce061c3c8131d5cd91ad04e52c887091",
      :dependencies
      [["org.apache.maven.resolver" "maven-resolver-api" "1.3.1"]]}}}},
  "maven-resolver-util"
  {"jar"
   {""
    {"1.3.1"
     {:sha1 "caf7691a5a0373e948bbb00b23b52ef4cbceee71",
      :dependencies
      [["org.apache.maven.resolver" "maven-resolver-api" "1.3.1"]]}}}},
  "maven-resolver-impl"
  {"jar"
   {""
    {"1.3.1"
     {:sha1 "200e0386412e9317f9be5e3c00a18eda673e6f6d",
      :dependencies
      [["org.apache.maven.resolver" "maven-resolver-api" "1.3.1"]
       ["org.apache.maven.resolver" "maven-resolver-spi" "1.3.1"]
       ["org.apache.maven.resolver" "maven-resolver-util" "1.3.1"]
       ["org.slf4j" "slf4j-api" "1.7.25"]]}}}},
  "maven-resolver-transport-file"
  {"jar"
   {""
    {"1.3.1"
     {:sha1 "1ee7e3cd2a54d66b5574a86a5bffdb806769ea57",
      :dependencies
      [["org.apache.maven.resolver" "maven-resolver-api" "1.3.1"]
       ["org.apache.maven.resolver" "maven-resolver-spi" "1.3.1"]
       ["org.slf4j" "slf4j-api" "1.7.25"]]}}}},
  "maven-resolver-transport-wagon"
  {"jar"
   {""
    {"1.3.1"
     {:sha1 "141a2aff478f7e89998cc9903b17d2a72572d41e",
      :dependencies
      [["org.apache.maven.resolver" "maven-resolver-api" "1.3.1"]
       ["org.apache.maven.resolver" "maven-resolver-spi" "1.3.1"]
       ["org.apache.maven.resolver" "maven-resolver-util" "1.3.1"]
       ["org.apache.maven.wagon" "wagon-provider-api" "3.0.0"]
       ["org.slf4j" "slf4j-api" "1.7.25"]]}}}},
  "maven-resolver-connector-basic"
  {"jar"
   {""
    {"1.3.1"
     {:sha1 "14d9e85289ff81eda7ccdbab4a34e0bde780c574",
      :dependencies
      [["org.apache.maven.resolver" "maven-resolver-api" "1.3.1"]
       ["org.apache.maven.resolver" "maven-resolver-spi" "1.3.1"]
       ["org.apache.maven.resolver" "maven-resolver-util" "1.3.1"]
       ["org.slf4j" "slf4j-api" "1.7.25"]]}}}}},
 "commons-codec"
 {"commons-codec"
  {"jar"
   {"" {"1.10" {:sha1 "4b95f4897fa13f2cd904aee711aeafc0c5295cd8"}}}}},
 "org.codehaus.plexus"
 {"plexus-interpolation"
  {"jar"
   {"" {"1.25" {:sha1 "3b37b3335e6a97e11e690bbdc22ade1a5deb74d6"}}}},
  "plexus-component-annotations"
  {"jar"
   {"" {"1.7.1" {:sha1 "862abca6deff0fff241a835a33d22559e9132069"}}}},
  "plexus-utils"
  {"jar"
   {""
    {"3.1.0" {:sha1 "60eecb6f15abdb1c653ad80abaac6fe188b3feaa"},
     "3.0.24" {:sha1 "b4ac9780b37cb1b736eae9fbcef27609b7c911ef"},
     "1.4" {:sha1 "9383ed6b6798c8909b2c842644757bbcb79cc8c3"}}}},
  "plexus-interactivity-api"
  {"jar"
   {""
    {"1.0-alpha-6"
     {:sha1 "c06f0eb818633033f09a87d14c4cfb6f39af9a37",
      :dependencies
      [["org.codehaus.plexus" "plexus-utils" "1.4"]
       ["org.codehaus.plexus"
        "plexus-component-api"
        "1.0-alpha-16"]]}}}},
  "plexus-component-api"
  {"jar"
   {""
    {"1.0-alpha-16"
     {:sha1 "5a2100a1c6a37804b1abfc70000b0ea33b83b7f9",
      :dependencies
      [["org.codehaus.plexus" "plexus-classworlds" "1.2-alpha-7"]
       ["junit" "3.8.1"]]}}}},
  "plexus-classworlds"
  {"jar"
   {""
    {"1.2-alpha-7"
     {:sha1 "ed03d1eeb9b2576747df0d2883d9006fa5e1febe",
      :dependencies [["junit" "3.8.1"]]}}}}},
 "org.jsoup"
 {"jsoup"
  {"jar"
   {""
    {"1.11.2" {:sha1 "e3eeb8a0b4ce1db246059a41e353cd7413dad226"}}}}},
 "org.apache.maven.wagon"
 {"wagon-provider-api"
  {"jar"
   {""
    {"3.0.0"
     {:sha1 "f160b044ff0a4095170dc4dac75d69065b7c0a8d",
      :dependencies [["org.codehaus.plexus" "plexus-utils" "3.0.24"]]},
     "3.2.0"
     {:sha1 "4acc94a855a0809c790faa5b560e50153b532776",
      :dependencies
      [["org.codehaus.plexus" "plexus-utils" "3.1.0"]]}}}},
  "wagon-http"
  {"jar"
   {""
    {"3.2.0"
     {:sha1 "34f2839340f32fe0491ba564fe331894b9255de1",
      :dependencies
      [["org.apache.maven.wagon" "wagon-http-shared" "3.2.0"]
       ["org.apache.httpcomponents"
        "httpclient"
        "4.5.6"
        {"exclusions" [["commons-logging"]]}]
       ["org.apache.httpcomponents" "httpcore" "4.4.10"]
       ["org.codehaus.plexus" "plexus-utils" "3.1.0"]
       ["org.apache.maven.wagon" "wagon-provider-api" "3.2.0"]]}}}},
  "wagon-http-shared"
  {"jar"
   {""
    {"3.2.0"
     {:sha1 "0769c5b9e4c13c12ce4aa0d175f69b5d1650a71e",
      :dependencies
      [["org.jsoup" "jsoup" "1.11.2"]
       ["org.apache.httpcomponents"
        "httpclient"
        "4.5.6"
        {"exclusions" [["commons-logging"]]}]
       ["org.apache.httpcomponents" "httpcore" "4.4.10"]
       ["commons-io" "2.6"]
       ["org.slf4j" "slf4j-api" "1.7.25"]
       ["org.apache.maven.wagon" "wagon-provider-api" "3.2.0"]]}}}},
  "wagon-ssh"
  {"jar"
   {""
    {"3.2.0"
     {:sha1 "9463b889a8d14c60dae9c9c5e4065e911323410f",
      :dependencies
      [["com.jcraft" "jsch" "0.1.54"]
       ["com.jcraft" "jsch.agentproxy.connector-factory" "0.0.9"]
       ["com.jcraft" "jsch.agentproxy.jsch" "0.0.9"]
       ["org.codehaus.plexus" "plexus-utils" "3.1.0"]
       ["org.codehaus.plexus"
        "plexus-interactivity-api"
        "1.0-alpha-6"
        {"exclusions"
         [["plexus" "plexus-utils"]
          ["org.codehaus.plexus" "plexus-container-default"]
          ["classworlds"]]}]
       ["org.apache.maven.wagon" "wagon-ssh-common" "3.2.0"]
       ["org.apache.maven.wagon" "wagon-provider-api" "3.2.0"]]}}}},
  "wagon-ssh-common"
  {"jar"
   {""
    {"3.2.0"
     {:sha1 "7cf78217e53f315db7d9842aa9198121230b7d87",
      :dependencies
      [["org.codehaus.plexus" "plexus-utils" "3.1.0"]
       ["org.codehaus.plexus"
        "plexus-interactivity-api"
        "1.0-alpha-6"
        {"exclusions"
         [["org.codehaus.plexus" "plexus-component-api"]]}]
       ["org.apache.maven.wagon" "wagon-provider-api" "3.2.0"]]}}}}},
 "javax.inject"
 {"javax.inject"
  {"jar"
   {"" {"1" {:sha1 "6975da39a7040257bd51d21a231b76c915872d38"}}}}},
 "webnf.deps"
 {"logback"
  {"jar"
   {""
    {"0.2.0-alpha4"
     {:sha1 "f0fddc4d36698e319ad6619d4ac737e3c96fa191",
      :dependencies
      [["ch.qos.logback" "logback-classic" "1.2.3"]
       ["org.slf4j" "slf4j-api" "1.7.25"]
       ["org.slf4j" "log4j-over-slf4j" "1.7.25"]
       ["org.slf4j" "jcl-over-slf4j" "1.7.25"]
       ["org.slf4j" "jul-to-slf4j" "1.7.25"]]}}}}},
 "net.java.dev.jna"
 {"jna"
  {"jar"
   {"" {"4.1.0" {:sha1 "1c12d070e602efd8021891cdd7fd18bc129372d4"}}}},
  "jna-platform"
  {"jar"
   {""
    {"4.1.0"
     {:sha1 "23457ad1cf75c2c16763330de5565a0e67b4bc0a",
      :dependencies [["net.java.dev.jna" "jna" "4.1.0"]]}}}}}}
